.card{
    width: 25vw;
    height: 20vh;
    background-color: black;
    color: white;
}

.card-header{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: #1e1e1e;
    color: white;
    justify-content: center;
}

.icon
{
    
}