.card{
    min-width: 29vw;
    background-color: #0E0E0E;
    color: white;
    border-radius: 10px;
}

.card-header{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #1e1e1e;
    color: white;
    align-items: center;
}

.header-info{
    align-self: center;
    font-size: 0.8rem;
}

.icon
{
    padding: 10px;
    height: 30%;
    padding: 3%;
}

.arrow{
    margin-left: auto;
}

.card-body{
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.match-type
{
    font-size: 1rem;
    font-weight: 600;
    color: #949494;
    margin-bottom: 10px;
    display: flex;
    margin: 1rem 0;
}

.match{
    padding-bottom: 1.5rem;
}

.team{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.team-icon
{
    height: 3rem;
    width: 3rem;
}

.team-score{
    padding-left: 25px;
    font-size: 1rem;
}