.FI__container{
    display: flex;
    
}

.FI__input{
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 0px 10px;
}

.FI__button{
   padding: 0.5rem 1rem;
    background-color:#ADFF45 ;
    border: none;
    border-radius: 0 10px 10px 0;
    border-left: white;
}

