.Header__container{
    height: 29.5rem;
    max-width: 100%;
    background: url(https://images.unsplash.com/photo-1634348409537-a8d702476836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80) no-repeat center center;
    background-size: cover;
} 

.Header__overlay{
    background: rgba(0, 0, 0, 0.75);

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header__content{
    width: 50%;
    line-height: 2.8125rem;
    font-size: 1.875rem;
    color: white;
    font-weight: 400;
}

@media only screen and (max-width: 720px) {
    .Header__content{
        width: 80%;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}